/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem var(--horizontal-padding) 0;
}
@media (max-width: 1000px) {
  nav {
    padding: 3rem 4rem 0;
  }
}
nav .logo {
  width: 15rem;
  height: 8rem;
  background: url("../resources/logo-bookmark.svg") center no-repeat;
}
@media (max-width: 650px) {
  nav .desktop-nav-box {
    display: none;
  }
}
nav .hamburger-menu {
  display: none;
  width: 3rem;
  height: 3rem;
  background: url("../resources/icon-hamburger.svg") center no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
}
@media (max-width: 650px) {
  nav .hamburger-menu {
    display: block;
  }
}
nav a {
  text-decoration: none;
  color: var(--very-dark-blue);
  margin: 3rem;
}
@media (max-width: 800px) {
  nav a {
    margin: 1rem;
  }
}
nav a:hover {
  color: var(--soft-red);
}

section.hero-box {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 3rem var(--horizontal-padding);
}
@media (max-width: 1000px) {
  section.hero-box {
    padding: 3rem 0 0 3rem;
  }
}
@media (max-width: 800px) {
  section.hero-box {
    margin-top: 3rem;
    margin-bottom: 15rem;
  }
}
@media (max-width: 650px) {
  section.hero-box {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
section.hero-box .hero-side {
  width: 40%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 650px) {
  section.hero-box .hero-side {
    width: 100%;
    order: 1;
    margin-top: 8rem;
    text-align: center;
  }
}
section.hero-box button {
  min-width: 21rem;
  margin-left: 0;
}
@media (max-width: 650px) {
  section.hero-box button {
    min-width: unset;
    width: 45%;
    padding: 1.5rem 1.5rem;
  }
}
section.hero-box .hero-image {
  width: 60%;
  max-width: 60rem;
  height: 100%;
  position: relative;
}
@media (max-width: 650px) {
  section.hero-box .hero-image {
    width: 100%;
  }
}
@media (max-width: 800px) {
  section.hero-box .hero-image {
    align-self: center;
  }
}
section.hero-box .hero-image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100rem;
  height: 80%;
  background-color: var(--soft-blue);
  top: 25%;
  left: 20%;
  border-radius: 200px;
  z-index: -10;
}
section.hero-box .hero-image img {
  width: 100%;
}
@media (max-width: 650px) {
  section.hero-box p {
    margin: 2rem auto;
    width: 80%;
  }
}

.features-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-box > p {
  width: 40%;
  text-align: center;
}
@media (max-width: 1000px) {
  .features-box > p {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .features-box > p {
    align-self: center;
    width: 70%;
  }
}
@media (max-width: 650px) {
  .features-box > p {
    width: 90%;
  }
}
.features-box ul {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
  width: 50%;
  min-width: 700px;
  position: relative;
  padding-left: 0;
}
@media (max-width: 800px) {
  .features-box ul {
    min-width: 90%;
  }
}
@media (max-width: 650px) {
  .features-box ul {
    flex-direction: column;
    align-items: center;
    min-width: unset;
    width: 90%;
  }
}
.features-box ul .mark {
  display: block;
  position: absolute;
  width: 33.3%;
  height: 4px;
  background-color: var(--soft-red);
  bottom: 1%;
  left: 0;
  border-radius: 3px;
  transition: left 0.8s ease-in-out;
}
@media (max-width: 650px) {
  .features-box ul .mark {
    top: calc(33.3333333333% - 5px);
    width: 100%;
    transition: none;
    display: none;
  }
}
.features-box li {
  flex-grow: 1;
  list-style-type: none;
  width: 30%;
  border-bottom: 1px solid var(--greyish-blue);
}
@media (max-width: 650px) {
  .features-box li {
    width: 100%;
  }
}
.features-box li button {
  width: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: var(--very-dark-blue);
  padding: 2rem;
}
.features-box li button:hover {
  color: var(--soft-red);
}

.features-box-bottom {
  display: flex;
  height: 50rem;
  width: 95%;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 800px) {
  .features-box-bottom {
    height: 40rem;
  }
}
@media (max-width: 650px) {
  .features-box-bottom {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    height: 80rem;
  }
}
.features-box-bottom .feature-image {
  width: 50%;
  height: 100%;
  max-width: 55rem;
  position: relative;
}
@media (max-width: 650px) {
  .features-box-bottom .feature-image {
    width: 100%;
  }
}
.features-box-bottom .feature-image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100rem;
  height: 300px;
  background-color: var(--soft-blue);
  top: 25%;
  right: 15%;
  border-radius: 200px;
  z-index: -10;
}
@media (max-width: 800px) {
  .features-box-bottom .feature-image::after {
    top: 10%;
    height: 250px;
  }
}
.features-box-bottom .feature-image img {
  width: 100%;
  transition: all 0.4s ease-in;
}
.features-box-bottom .features-box-bottom-side {
  width: 50%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}
@media (max-width: 650px) {
  .features-box-bottom .features-box-bottom-side {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 0rem;
  }
}
.features-box-bottom .features-box-bottom-side button {
  justify-self: flex-start;
}
@media (max-width: 650px) {
  .features-box-bottom .features-box-bottom-side button {
    display: none;
  }
}
.features-box-bottom .features-box-bottom-side h2,
.features-box-bottom .features-box-bottom-side p {
  transition: all 0.4s ease-in;
}
.features-box-bottom .features-box-bottom-side p {
  min-height: 13.5rem;
}

.download-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem var(--horizontal-padding) 15rem;
}
@media (max-width: 1000px) {
  .download-box {
    padding: 3rem 3rem 15rem;
  }
}
@media (max-width: 650px) {
  .download-box {
    padding: 3rem 3rem 10rem;
  }
}
.download-box > p {
  max-width: 55rem;
  text-align: center;
  margin-bottom: 5rem;
}
@media (max-width: 650px) {
  .download-box > p {
    max-width: 80%;
  }
}

.download-cards-box {
  display: flex;
}
@media (max-width: 650px) {
  .download-cards-box {
    flex-direction: column;
    height: 150rem;
    padding-bottom: 0;
  }
}
.download-cards-box .download-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(18, 18, 32, 0.1);
  border-radius: 1rem;
  margin: 0 2rem;
  padding: 3rem 0 1rem;
  gap: 1.5rem;
}
@media (max-width: 800px) {
  .download-cards-box .download-card {
    margin: 0 1rem;
  }
}
@media (max-width: 650px) {
  .download-cards-box .download-card {
    margin: 0 1rem;
    min-width: 30%;
    gap: 1rem;
    padding: 4rem 0 2rem;
  }
}
.download-cards-box .download-card img {
  width: 10rem;
  margin-bottom: 2rem;
}
@media (max-width: 650px) {
  .download-cards-box .download-card img {
    width: 15rem;
    margin-bottom: 3rem;
  }
}
.download-cards-box .download-card h4 {
  color: var(--very-dark-blue);
}
@media (max-width: 650px) {
  .download-cards-box .download-card h4 {
    font-size: 2.5rem;
  }
}
.download-cards-box .download-card span {
  color: var(--greyish-blue);
  margin-bottom: 3rem;
  padding: 0 0.5rem;
  text-align: center;
}
.download-cards-box .download-card .divider {
  background: url("../resources/bg-dots.svg") center no-repeat;
  width: 100%;
  height: 10px;
}
@media (max-width: 650px) {
  .download-cards-box .download-card button {
    margin: 1rem 2rem;
    padding: 1.5rem 4rem;
  }
}
.download-cards-box .download-card:nth-of-type(2) {
  transform: translateY(5rem);
}
.download-cards-box .download-card:nth-of-type(3) {
  transform: translateY(10rem);
}

section.faq-box {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 16rem;
  width: 45%;
  max-width: 55rem;
}
@media (max-width: 1000px) {
  section.faq-box {
    width: 70%;
  }
}
@media (max-width: 650px) {
  section.faq-box {
    width: 85%;
  }
}
section.faq-box h2 {
  text-align: center;
}
section.faq-box > p {
  text-align: center;
  margin: 3rem 0 5rem;
}
section.faq-box > button {
  align-self: center;
}
section.faq-box .faq-question-box {
  border-top: 1px solid var(--greyish-blue);
  overflow: hidden;
  height: 7rem;
  transition: height 0.5s ease-in-out;
}
section.faq-box .faq-question-box[data-hidden=false] i {
  transform: rotate(180deg);
  color: var(--soft-red) !important;
}
section.faq-box .faq-question-box-top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  color: var(--very-dark-blue);
}
section.faq-box .faq-question-box-top i {
  color: var(--soft-blue);
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
section.faq-box .faq-question-box:last-of-type {
  border-bottom: 1px solid var(--greyish-blue);
}
section.faq-box button {
  margin-top: 5rem;
}

.contact {
  background-color: var(--soft-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
  gap: 3rem;
}
@media (max-width: 650px) {
  .contact {
    padding: 8rem 1rem;
  }
}
.contact h2,
.contact span {
  color: white;
  max-width: 45rem;
  text-align: center;
  font-weight: var(--font-weight-normal);
}
.contact h2 {
  letter-spacing: 0.2rem;
}
.contact span {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.45rem;
}

.contact-form {
  display: flex;
  align-items: center;
}
@media (max-width: 650px) {
  .contact-form {
    flex-direction: column;
    width: 85%;
  }
}
.contact-form[data-error=true] .input-message {
  display: flex !important;
}
.contact-form[data-error=true] .input-box::after {
  content: "";
}
.contact-form[data-error=true] input {
  border: 3px solid var(--soft-red) !important;
}
@media (max-width: 650px) {
  .contact-form button {
    width: 100%;
    height: 5rem;
  }
}

.input-box {
  width: 300px;
  height: 4.5rem;
  margin-right: 1rem;
  position: relative;
}
@media (max-width: 650px) {
  .input-box {
    width: 100%;
    height: 5rem;
    margin-right: 0;
    margin-bottom: 3.5rem;
  }
}
.input-box .input-message {
  display: none;
  position: absolute;
  top: 80%;
  width: 100%;
  height: 80%;
  background-color: var(--soft-red);
  color: white;
  font-size: 1.2rem;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-style: italic;
}
.input-box::after {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: url("../resources/icon-error.svg") center no-repeat;
  background-size: 100%;
  top: calc(50% - 1rem);
  right: 1.5rem;
  z-index: 100;
}
.input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  z-index: 100;
  padding: 1rem;
  color: var(--very-dark-blue);
}
.input-box input::placeholder {
  color: var(--greyish-blue);
  font-size: 1.4rem;
}
@media (max-width: 650px) {
  .input-box input::placeholder {
    text-align: center;
  }
}

footer {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--horizontal-padding);
}
@media (max-width: 1000px) {
  footer {
    padding: 3rem;
  }
}
@media (max-width: 650px) {
  footer {
    flex-direction: column;
  }
}
footer .logo {
  width: 15rem;
  height: 8rem;
  background: url("../resources/logo-bookmark-light.svg") center no-repeat;
}
@media (max-width: 650px) {
  footer .logo {
    width: 18rem;
    height: 9rem;
    background-size: 100%;
  }
}

.footer-links {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer-links {
    justify-content: flex-start;
    gap: 2rem;
  }
}
@media (max-width: 650px) {
  .footer-links {
    flex-direction: column;
  }
}
.footer-links a {
  color: white;
  text-decoration: none;
}
.footer-links a:hover {
  color: var(--soft-red);
}

.socials-box i {
  font-size: 3rem;
  margin: 1.5rem;
  color: white;
}
.socials-box i:hover {
  color: var(--soft-red);
}
@media (max-width: 650px) {
  .socials-box {
    margin-top: 3rem;
  }
}

.hero-box,
.features-box,
.download-box,
.faq-box {
  margin: 10rem auto;
}

.button-primary-blue {
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: white;
  background-color: var(--soft-blue);
  font-weight: var(--font-weight-normal);
  box-shadow: 0 0.5rem 0.5rem rgba(18, 18, 32, 0.1);
  transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
}
.button-primary-blue:hover {
  box-shadow: inset 0 0 0 3px var(--soft-blue);
  color: var(--soft-blue);
  background-color: white;
}

.button-primary-white {
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: var(--dark-greyish-blue);
  background-color: var(--darkened-white);
  font-weight: var(--font-weight-normal);
  box-shadow: 0 0.5rem 0.5rem rgba(18, 18, 32, 0.1);
  transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
}
.button-primary-white:hover {
  box-shadow: inset 0 0 0 3px var(--darkened-white);
  color: var(--darkened-white);
  background-color: white;
}
.button-primary-white:hover {
  box-shadow: inset 0 0 0 3px var(--dark-greyish-blue);
  color: var(--dark-greyish-blue);
}

.button-primary-red {
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: white;
  background-color: var(--soft-red);
  font-weight: var(--font-weight-normal);
  box-shadow: 0 0.5rem 0.5rem rgba(18, 18, 32, 0.1);
  transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
}
.button-primary-red:hover {
  box-shadow: inset 0 0 0 3px var(--soft-red);
  color: var(--soft-red);
  background-color: white;
}

h1,
h2,
h3,
h4 {
  color: var(--very-dark-blue);
  margin: 0rem 0;
}

h1 {
  font-size: 3.5rem;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
}

p {
  color: var(--dark-greyish-blue);
  margin: 2rem 0;
}

[data-mobile-nav=open] {
  display: flex !important;
}

.mobile-nav-box {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(22, 29, 60, 0.918);
  z-index: 100;
  padding: 3rem 6rem 5rem;
  gap: 5rem;
  flex-direction: column;
}
.mobile-nav-box .mobile-logo {
  width: 20rem;
  height: 8rem;
  background: url("../resources/logo-bookmark-light.svg") center no-repeat;
  background-size: 100%;
}
.mobile-nav-box .mobile-nav-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-box .mobile-nav-close {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../resources/icon-close.svg") center no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
}
.mobile-nav-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.mobile-nav-box ul li:nth-last-of-type(2) a {
  border-bottom: 1px solid var(--greyish-blue);
}
.mobile-nav-box ul a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  margin: 0;
  border-top: 1px solid var(--greyish-blue);
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.mobile-nav-box ul button {
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  background-color: inherit;
  width: 100%;
  height: 7rem;
  margin-top: 4rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.mobile-nav-box .socials-box {
  align-self: center;
  margin-top: auto;
}
.mobile-nav-box .socials-box i {
  font-size: 4rem;
  letter-spacing: 2rem;
  cursor: pointer;
}
.mobile-nav-box .socials-box :hover {
  color: white;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --greyish-blue: hsl(229, 8%, 60%);
  --dark-greyish-blue: hsl(231, 6%, 42%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --darkened-white: hsl(255, 100%, 98%);
  --font-weight-slim: 400;
  --font-weight-normal: 500;
  --min-padding: 4rem;
  --horizontal-padding: 10rem;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=main.css.map */
