// CSS Custom Variables

:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --greyish-blue: hsl(229, 8%, 60%);
    --dark-greyish-blue: hsl(231, 6%, 42%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --darkened-white: hsl(255, 100%, 98%);

    --font-weight-slim: 400;
    --font-weight-normal: 500;

    --min-padding: 4rem;

    --horizontal-padding: 10rem;

    scroll-behavior:smooth;
}