@import "_base";

.button-primary-blue {
    @include button-primary(var(--soft-blue), white);
}

.button-primary-white {
    @include button-primary(var(--darkened-white), var(--dark-greyish-blue));
    &:hover {
        box-shadow: inset 0 0 0 3px var(--dark-greyish-blue);
        color: var(--dark-greyish-blue);
    }
}

.button-primary-red {
    @include button-primary(var(--soft-red), white);
}

h1,
h2,
h3,
h4 {
    color: var(--very-dark-blue);
    margin: 0rem 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

p {
    color: var(--dark-greyish-blue);
    margin: 2rem 0;
}
